---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Oswald');

.site-title {
  font-size: xx-large;
  font-weight: bold;
}

.page-link {
  font-size: x-large;
}

#home-attributes {
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  color: #00000025;
  font-size: 1.7em;
}
