---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Oswald');

.page-heading {
  display: none;
}

#home-attributes {
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  color: #00000025;
  font-size: 1.7em;
}
